<nav class="bg-slate-200 shadow-sm fixed w-full inset-x-0 top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex">
                <div class="flex-shrink-0 flex items-center">
                    <a href="{{ path('app_home') }}" class="text-xl font-semibold text-gray-800">
                        Boutique Artisanale
                    </a>
                </div>
                <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_product') }}"
                           class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
                                  {% if app.request.pathInfo starts with '/dashboard/product' %}
                                      border-gray-400 text-gray-700
                                  {% else %}
                                      border-transparent text-gray-500 hover:border-gray-400 hover:text-gray-700
                                  {% endif %}">
                            Manager produits
                        </a>
                        <a href="{{ path('admin_category') }}"
                           class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
                                  {% if app.request.pathInfo starts with '/dashboard/category' %}
                                      border-gray-400 text-gray-700
                                  {% else %}
                                      border-transparent text-gray-500 hover:border-gray-400 hover:text-gray-700
                                  {% endif %}">
                            Manager catégories
                        </a>
                        <a href="{{ path('admin_orders') }}" 
                           class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
                                  {% if app.request.pathInfo starts with '/dashboard/orders' %}
                                      border-gray-400 text-gray-700
                                  {% else %}
                                      border-transparent text-gray-500 hover:border-gray-400 hover:text-gray-700
                                  {% endif %}">
                            Voir commandes
                        </a>
                    {% else %}
                        <a href="{{ path('app_home') }}" 
                           class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
                                  {% if app.request.attributes.get('_route') == 'app_home' %}
                                      border-gray-400 text-gray-700
                                  {% else %}
                                      border-transparent text-gray-500 hover:border-gray-400 hover:text-gray-700
                                  {% endif %}">
                            Acceuil
                        </a>
                        <a href="{{ path('app_product') }}" 
                           class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
                                  {% if app.request.attributes.get('_route') == 'app_product' %}
                                      border-gray-400 text-gray-700
                                  {% else %}
                                      border-transparent text-gray-500 hover:border-gray-400 hover:text-gray-700
                                  {% endif %}">
                            Produits
                        </a>
                        {% if app.user %}
                        <a href="{{ path('app_user_orders') }}" 
                           class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
                                  {% if app.request.attributes.get('_route') == 'app_user_orders' %}
                                      border-gray-400 text-gray-700
                                  {% else %}
                                      border-transparent text-gray-500 hover:border-gray-400 hover:text-gray-700
                                  {% endif %}">
                            Mes commandes
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="flex items-center">
                {% if app.user %}
                <div class="flex items-center sm:ml-8 space-x-4">
                    {% if is_granted('ADMIN') %}
                        <a href="{{ path('admin_dashboard') }}" 
                        class="text-sm text-white bg-blue-600 py-2 px-4 rounded-md hover:bg-blue-500">
                            Dashboard
                        </a>
                        
                    {% endif %}
                    <span class="text-sm text-gray-500">{{ app.user.email }}</span>
                    <a href="{{ path('app_logout') }}" 
                    class="text-sm text-white bg-gray-800 py-2 px-4 rounded-md hover:bg-gray-700">
                        Deconnexion
                    </a>
                </div>
                {% else %}
                    <div class="flex items-center sm:ml-6 space-x-2">
                        <a href="{{ path('app_login') }}" 
                               class="text-sm text-gray-700 py-2 px-4 rounded-md">
                                Connexion
                        </a>
                        <a href="{{ path('app_register') }}" 
                               class="text-sm text-white bg-gray-800 py-2 px-4 rounded-md hover:bg-gray-700">
                                Inscription
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>